/* black: #161616
red: #e01e3c
white: #ffffff */

/* font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif; */





/* * * * * * GENERAL STYLES   * * * */




h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 70px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 36px;
}
p {
    font-family: sans-serif;
}

button {
     font-family: 'Oswald', sans-serif;
     font-size: 12px;
}

/* header Styles */

header {
    height: 80px;
    background: black;
    padding-top: 20px;
}

header ul {
    background:black;
    float: right;
    margin-top: 10px;
    padding: 0;
}

header li {
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;


}
header a {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
;
}

header .logo {
    background-image: url('../img/logo.svg');
    height: 40px;
    width: 40px;
    background-size: 40px;
    float: left;

}


.hero {
    height: 400px;
    background: hotpink;
}




.product-lineup-container {
    height: 400px;
    background: teal;
}

.featured-product-container {
    height: 400px;
    background: #333;
}

.product-support-container {
    height: 400px;
    background: darkred;
}

.subscription-container {
    height: 400px;
    background: steelblue;
}

.footer {
    height: 400px;
    background: lightblue;
}
