/* black: #161616
red: #e01e3c
white: #ffffff */

/* font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif; */





/* * * * * * GENERAL STYLES   * * * */




h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 70px;
    font-weight: 900;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 36px;
}
p {
    font-family: sans-serif;
}
button {
     font-family: 'Oswald', sans-serif;
     font-size: 12px;
}

/* header Styles */

header {
    height: 80px;
    background: black;
    padding-top: 20px;
}
/* desktop-nav */
.desktop-nav ul {
    float: right;
    margin-top: 10px;
    width: calc(100% - 60px);
    text-align: right;
}
.desktop-nav li {
    display: inline-block;
    text-decoration: none;
    margin-left: 50px;
}
.desktop-nav a,
.desktop-nav a:visited {
    color: white;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.desktop-nav a:hover,
.desktop- a:focus,
.desktop- a:active, {
    opacity: 0.9;
    color: white;
    text-decoration: none;
}
header .logo {
    background-image: url('../img/logo.svg');
    height: 40px;
    width: 40px;
    background-size: 40px;

}
.desktop-nav .logo {
    float: left;
}
.mobile-nav {
    display:none;
    text-align: center;
}
.mobile-nav .logo {
    display: inline-block;
}
.mobile-nav .hamburger-container,
.mobile-nav .search-container {
    vertical-align: top;
    width: 40px;
    display: inline-block;
    margin-left: -4px;
    margin-top: 8px;
}

.mobile-nav .logo-container{
    display: inline-block;
    margin-left: -4px;
    width: calc(100% - 80px);
}

@media(max-width: 768px) {
    .mobile-nav {
        display:inline-block;
    }
    .desktop-nav {
        display: none;
    }
.mobile-nav button{
    background: transparent;
    border: none;
    color: white;
    }
}


/* hero Styles */
.hero {
    height: calc(100vh - 80px);
    background: #999;
    background-image: url('../img/hero-large.jpg');
    background-size: cover;
    color: white;
}







/* Product Lineup */
.product-lineup-container {
    height: 400px;
    background: teal;
}
/* Featured product  */

.featured-product-container {
    height: 400px;
    background: #333;
}

/* Product Support */
.product-support-container {
    height: 400px;
    background: darkred;
}

/* Subsxcription  */
.subscription-container {
    height: 400px;
    background: steelblue;
}
/* Footer */
.footer {
    height: 400px;
    background: lightblue;
}
