/* black: #161616
red: #e01e3c
white: #ffffff */

/* font-family: 'Oswald', sans-serif;
font-family: 'Nunito Sans', sans-serif; */

h1, h2, h3 {
    font-family: 'Nunito Sans', sans-serif;
}

h1 {
    font-size: 70px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 36px;
}
p {
    font-family: sand-serif;
}

button {
     font-family: 'Oswald', sans-serif;
     font-size: 12px;
}
